<div class="chat-header">
  <div class="room-name">
    hogefuga
  </div>
  <div class="quit-chat">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-top">
     <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(wed) 12:43:30
      </div>
    </div>
    <div class="message-text">
      おはよう
    </div>
  </div>
    <div class="message">
    <div class="message-top">
     <div class="message-user">
        Oda
      </div>
      <div class="message-date">
        2021/3/31(wed) 12:43:30
      </div>
    </div>
    <div class="message-text">
      おはよう～
    </div>
  </div>
</div>

<div class="form">
  <form class="message-form">
    <div class="form-input">
      <input placeholder="type a message" class="text-form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="submit-form">
</div>